* {
  user-select: none;
}

.game {
  height: 100vh;
  /* background-image: url(../../assets/images/background.png);
  background-size: cover;
  background-position: center;
  position: relative; */
  /* overflow: hidden; */
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.field {
  height: 864px;
  width: 800px;
  position: relative;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* transform: scale(0.5); */
}

.frame {
  height: 870px;
  width: 750px;
}

.frame-inner {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  justify-items: center;
  align-items: center;
  width: 475px;
  height: 500px;
  position: absolute;
  /* //TODO center more precise */
  top: 182px;
  left: 141px;
  justify-content: center;
}

@media (max-width: 1366px), (max-height: 768px) {
  .inner {
    transform: scale(0.75);
  }
}
